body{
    background-color: red;
    text-align: center;
}

input, button{
    max-width: 300px;
}

h1{
    background-color: royalblue;
    color: green;
}
p{
    color: green;
    background-color: yellow;
    text-align: left;
}